@charset "utf-8";

*{
    font-family: Arial, Helvetica, sans-serif;
 
}

body {
    background-image: linear-gradient(to right, #DDD4CF, #537355);
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #2d3f2eb0;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #0D0D0D;
    text-align: center;
    text-shadow: 1px 1px 2px #9feca4bd;
}

h2 {
    color: #3F3F3F;
}

p { 
    text-align: justify;
}



